
.barra-topo {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    z-index: 1;

    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bgcolor);
    border-bottom: 3px solid var(--maincolor);
    box-shadow: 0px 0px 12px 12px var(--bgcolor);
}

.barra-topo > img {
    height: 100%;
}

.barra-topo > ion-icon {
    color: var(--maincolor);
    font-size: 64px;
    --ionicon-stroke-width: 24px;
}
