
.enviar-mensagens {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    z-index: 1;

    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 3px solid var(--maincolor);
    background-color: var(--bgcolor);
    box-shadow: 0px 0px 12px 12px var(--bgcolor);
}

.enviar-mensagens > div {
    max-width: 90%;
}

.enviar-mensagens > div > textarea {
    max-width: 100%;
    
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    resize: none;

    color: var(--maincolor);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

::placeholder {
    color: var(--maincolor);
    opacity: .75;
}

.enviar-mensagens > div > p {
    margin: 4px 0px 0px 16px;
    color: var(--seccolor);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}

.enviar-mensagens > ion-icon {
    margin-left: 4px;
    color: var(--maincolor);
    font-size: 32px;
}
